@model IEnumerable<Etec.Aula2802.MCV.Models.Produto>

@{
    ViewData["Title"] = "Lista";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cdProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nmProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cdProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nmProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
