@model Etec.Aula2802.MCV.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cdCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cdCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nmCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nmCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Editar", new { id = Model.cdCliente }) |
    <a asp-action="Lista">Back to List</a>
</div>
